* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: contain;
}

.container-card {
    width: 20rem;
    height: 36rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 4px 35px 6px rgb(193, 204, 245);

}

.card-image {
    background-image: url(./images/illustration-hero.svg);
    width: 20rem;
    height: 11.5rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
}

.card-contend {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-contend>h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.4rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.card-contend>p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    font-weight: 400;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.button-music {
    background-color: hsl(225, 100%, 98%);
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.button-music>h2, p, a, button {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.9rem;
}

.button-music>p>span {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.button-music>p {
    color: hsl(224, 23%, 55%);
    padding-left: 1rem;
    padding-right: 2.5rem;
}

.button-music>img {
    left: 4rem;
    bottom: 17.4em;
}

.button-music>a {
    font-weight: 700;
    right: 4rem;
    transition-duration: 0.4s;
}

.button-music>a:hover {
    color: #766cf1;
}

.card-contend>button {
    margin: 0 1.5rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    border-radius: 0.5rem;
	border: none;
}

.button1 {
    background-color: hsl(245, 75%, 52%);
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0px 10px 17px 6px rgba(222,219,248,0.93);
}

.button1:hover {
    background-color: #766cf1;
    cursor:pointer
}

.button2 {
    color: hsl(224, 23%, 55%);
    background: none;
    cursor:pointer
}

@media only screen and ( min-width: 992px ) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-size: contain;
    }

    .container-card {
        width: 25rem;
    }
    .card-image {
        width: 25rem;
    }

    .button-music>p {
        padding-right: 7rem;
    }
}

@media only screen and ( max-width: 360px ) {
    .container-card {
        width: 15rem;
        height: 27rem;
    }
    .card-image {
        width: 15rem;
        height: 8rem;
    }

    .button-music>h2, p, a, button {
        font-size: 0.7rem;
    }

    .card-contend>h1 {
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .card-contend>p {
        font-size: 0.7rem;
        padding-bottom: 0rem;
    }

    .button-music {
        background-color: hsl(225, 100%, 98%);
        margin: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    .button-music>p {
        padding-left: 0.5rem;
        padding-right: 0.8rem;
    }

    .card-contend>button {
        height: 2.5rem;
    }
}